version: '3'
services:
  backend:
    build: ./backend
    ports:
      - "8080:3000"
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: testdb
